body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #ffffff;
}

#unity-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#unity-container.unity-desktop {
  left: 0;
  top: 0;
  transform: none;
}

#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

#unity-loading-bar {
  display: none !important;
  visibility: hidden;
}

#unity-logo,
#unity-progress-bar-empty,
#unity-progress-bar-full {
  display: none;
}

#unity-footer {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-webgl-logo,
#unity-build-title {
  display: none;
}

#unity-fullscreen-button {
  cursor: pointer;
  width: 38px;
  height: 38px;
  opacity: 0.45;
  filter: brightness(0.35);
  background: url("fullscreen-button.png") no-repeat center;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
